<div class="container-fluid" data-ng-init='init()'>
    <div class="row-fluid">

        <div class="row-fluid">
            <div class="login-box">
                <div class="icons">
                    <a href="./home"><i class="halflings-icon home"></i></a>
                    <a href="#"><i class="halflings-icon cog"></i></a>
                </div>
                <h2>Login to your account</h2>

                <form class="form-horizontal" action="" method="post"/>
                <fieldset>

                    <div class="input-prepend" title="Username">
                        <span class="add-on"><i class="halflings-icon user"></i></span>
                        <input ng-model='loginLogin' class="input-large span10" name="username" id="username"
                               type="text" placeholder="type username"/>
                    </div>
                    <div class="clearfix"></div>

                    <div class="input-prepend" title="Password">
                        <span class="add-on"><i class="halflings-icon lock"></i></span>
                        <input ng-model='passwordLogin' class="input-large span10" name="password" id="password"
                               type="password" placeholder="type password"/>
                    </div>
                    <div class="clearfix"></div>

                    <label class="remember" for="remember"><input type="checkbox" id="remember"/>Remember me</label>

                    <div class="button-login">
                        <button type="submit" class="btn btn-primary" ng-click='authenticate()'>Login</button>
                    </div>
                    <div class="clearfix"></div>
                    </form>
                    <hr/>
                    <h3>Forgot Password?</h3>

                    <p>
                        No problem, <a href="#">click here</a> to get a new password.
                    </p>
                </fieldset>
            </div>
            <!--/span-->
        </div>
        <!--/row-->

    </div>
    <!--/fluid-row-->

</div><!--/.fluid-container-->

<!-- start: JavaScript-->